.banner_nav_item1 {
  top: -16px;
}

.banner_nav_item2 {
  top: -48px;
}

.banner_nav_item3 {
  top: -80px;
}

.banner_nav_item4 {
  top: -112px;
}

.banner_nav_item5 {
  top: -144px;
}

.banner_nav_item6 {
  top: -176px;
}

.banner_nav_item7 {
  top: -208px;
}

.banner_nav_item8 {
  top: -240px;
}

.banner_nav_item9 {
  top: -272px;
}

.banner_nav_item10 {
  top: -304px;
}

.banner_nav_item11 {
  top: -336px;
}

.banner_nav_item12 {
  top: -368px;
}

.banner_nav_item13 {
  top: -400px;
}

.banner_nav_item14 {
  top: -432px;
}
